@use "src/assets/styles/breakpoints";

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: breakpoints.$media_l) {
    gap: 32px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;

  @media screen and (min-width: breakpoints.$media_l) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 300px;
    justify-content: space-evenly;
    gap: 24px;
  }
}

.itemWrapper {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: center;
  background-color: #242526;

  img {
    width: 100px;
    height: 100px;
  }

  h2 {
    color: #fff !important;
    font-size: 24px !important;
    font-family: "Montserrat", 'Roboto Thin', sans-serif !important;
  }

  h3 {
    color: #767676 !important;
    font-size: 18px !important;
    font-family: "Montserrat", 'Roboto Thin', sans-serif !important;
  }

  @media screen and (min-width: breakpoints.$media_l) {
    width: 100%;
    height: 100%;
  }
}