@use "src/assets/styles/breakpoints";

.container {
  width: 100%;
  min-height: 100vh;

  @media screen and (min-width: breakpoints.$media_l) {
    display: grid;
    grid-template-columns: 300px 1fr 60px;
  }
}

.content {
  padding: 16px;
  min-height: calc(100vh - 60px);
  background-color: #18191A;

  @media screen and (min-width: breakpoints.$media_l) {
    min-height: 100vh;
    padding: 0;
  }
}

.header {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  background-color: #3A3B3C;
}

.icon {
  * {
    fill: #fff !important;
  }
}