@use "src/assets/styles/breakpoints";

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: #242526;

  @media screen and (min-width: breakpoints.$media_l) {
    height: 100vh;
    position: sticky;
    top: 0;
  }
}