.container {
  display: flex;
  flex-direction: column;
  gap: 16px;

  h2 {
    color: #fff !important;
    font-size: 24px !important;
    font-family: "Montserrat", 'Roboto Thin', sans-serif !important;
  }

  h4 {
    color: #767676 !important;
    font-size: 18px !important;
    font-family: "Montserrat", 'Roboto Thin', sans-serif !important;
  }
}